<!--
    Author: Sadegh Naderi
    Date created: 14.08.2023
    Path: BA23-14-Packages\report\Code\General\Flask\templates\about.html
    Version: 1
    Reviewed by: Sadegh Naderi
    Review Date: 14.08.2023
    -->

<!DOCTYPE html>
<html>
<head>
    {% if title %}
        <title>About My Blog - {{ title }}</title>
    {% else %}
        <title>About My Blog</title>
    {% endif %}
</head>
<body>
    <h1>About this Blog</h1>
    <p>Discover more about the inspiration behind this unique Flask blog.</p>
</body>
</html>
